name: Build Android APK

on:
  push:
    branches: [ "main", "master" ] # Verifique se sua branch principal chama main ou master
  workflow_dispatch: # Permite rodar manualmente clicando num botão

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout do código
      uses: actions/checkout@v4

    - name: Configurar JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Dar permissão de execução ao Gradlew
      run: chmod +x gradlew

    - name: Compilar o APK (Debug)
      run: ./gradlew assembleDebug

    - name: Upload do APK gerado
      uses: actions/upload-artifact@v4
      with:
        name: app-debug
        path: app/build/outputs/apk/debug/app-debug.apk
